flask
flask-sqlalchemy
flask-login
openai
apify-client
gunicorn
werkzeug
psycopg2-binary
flask-limiter
flask-talisman
sentry-sdk
redis
xhtml2pdf
pypdf
sentence-transformers
numpy
scikit-learn
moviepy==1.0.3
edge-tts
asyncio
imageio-ffmpeg
langchain
langchain-community
faiss-cpu
stripe
Flask-Mail
requests
python-dotenv
gradio_client==1.3.0
replicate
duckduckgo-search==6.3.7
apify-client